*{
    margin: 0;
    padding: 0;
}
.navbar a{
    text-decoration: none;

}
.nav-div{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    align-items: center;
    text-align: center;

}
.nav-inner-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    margin-bottom: 10px;
    background:white;
    
}
/*  header styling start  */
.header-main{
    text-align: center;

}
.Header-div{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 33%; 
    margin-right: 33%; 
    width: 30vw;
    height:100vh;
}
.img-divs img{
    /* margin-left: 35%; */
    width: 30vw;
    height: 100vh;
}

.header-inner-div  input{
    border: 0px solid white ;
    background:transparent;
    width: 90%;
    color: white;


}
input{
    outline: none;
}

 ::placeholder{
    color: white ;
    opacity: 1;
    font-size: small;
 }
.input-div{
    border: 1px solid white ;
    height: 30px;
    width: 90%;

}
.Search-icon{
    color: white;
}
.brown{
    color: rgba(189, 120, 36, 0.766);
}
marquee{
    font-size: small;
}

/*  feature section stylilng start here  */

.feature-row{

    width:40vw;
    margin-left:5%;
}
.f-heading{
    font-size: medium;
}
.f-img{
    height: 120px;
    width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
cursor: pointer;
}
.d-1{
    background-image: url(/Snitch-Clone-//static/feature-img1.webp);
    background-size: cover;
}
.d-2{
    background-image: url(/Snitch-Clone-//static/feature-img2.webp);
    background-size: cover;
}
.d-3{
    background-image: url(/Snitch-Clone-//static/feature-img3.webp);
    background-size: cover;
}
.d-4{
    background-image: url(/Snitch-Clone-//static/feature-img4.webp);
    background-size: cover;
}
.d-5{
    background-image: url(/Snitch-Clone-//static/feature-img5.webp);
    background-size: cover;
}
.d-6{
    background-image: url(/Snitch-Clone-//static/feature-img6.webp);
    background-size: cover;
}
.d-7{
    background-image: url(/Snitch-Clone-//static/feature-img7.webp);
    background-size: cover;
}
.d-8{
    background-image: url(/Snitch-Clone-//static/feature-img8.webp);
    background-size: cover;
}
.d-9{
    background-image: url(/Snitch-Clone-//static/feature-img9.webp);
    background-size: cover;
}
.d-10{
    background-image: url(/Snitch-Clone-//static/feature-img10.webp);
    background-size: cover;
}
.d-11{
    background-image: url(/Snitch-Clone-//static/feature-img11.webp);
    background-size: cover;
}
.d-12{
    background-image: url(/Snitch-Clone-//static/feature-img12.webp);
    background-size: cover;
}
.f-img a{
    text-decoration: none;
    color: white;
    font-size: xx-small;
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
}